<h2 left style="margin-left: 100px;"s> Edit Article </h2>

<form #articleForm="ngForm" (ngSubmit)="sendForm()" left style="margin-left: 100px;  margin-right: 100px">
    
    <div class="form-group">
        <label> Title: </label>
        <input appHighlight class="form-control" 
            type="text" 
            required 
            [(ngModel)]="article.title" 
            name="aTitle" 
            #aTitle="ngModel"
            minlength="10"
            maxlength="100"
            [ngClass]="aTitle.valid || aTitle.pristine ? '': 'bg-danger'"
        >
        @if (article.title.length === 100) {
        <small class="text-warning">Maximum 100 characters reached.</small>
        }

        @if (aTitle.invalid && aTitle.dirty) {
            <div class="text-danger">
                @if (aTitle.errors?.['required'])  { <small>Title is required.</small> }
                @if (aTitle.errors?.['minlength']) { <small>Minimum 10 characters.</small> }
            </div>
        }
    </div>

    <div class="form-group">
        <label> Subtitle: </label>
        <input appHighlight class="form-control" 
            type="text" 
            required 
            [(ngModel)]="article.subtitle" 
            name="aSubtitle" 
            #aSubtitle="ngModel"
            minlength="10"
            maxlength="200"
            [ngClass]="aSubtitle.valid || aSubtitle.pristine ? '': 'bg-danger'"
        >

        @if (article.subtitle.length === 200) {
            <small class="text-warning">Maximum 200 characters reached.</small>
        }
        @if (aSubtitle.invalid && aSubtitle.dirty) {
            <div class="text-danger">
                @if (aSubtitle.errors?.['required'])  { <small>Subtitle is required.</small> }
                @if (aSubtitle.errors?.['minlength']) { <small>Minimum 10 characters.</small> }
            </div>
        }
    </div>

    <div class="form-group">
        <label> Abstract: </label>
        <input appHighlight class="form-control" 
            type="text" 
            required 
            [(ngModel)]="article.abstract"
            name="aAbstract" 
            #aAbstract="ngModel"
            minlength="10"
            [ngClass]="aAbstract.valid || aAbstract.pristine ? '': 'bg-danger'"
        >
        @if (aAbstract.invalid && aAbstract.dirty) {
            <div class="text-danger">
                @if (aAbstract.errors?.['required'])  { <small>aAbstract is required.</small> }
                @if (aAbstract.errors?.['minlength']) { <small>Minimum 10 characters.</small> }
            </div>
        }
    </div>

    <div class="form-group">
        <label> Body: </label>
        <input appHighlight class="form-control" 
            type="text" 
            [(ngModel)]="article.body"
            name="aBody" 
            #aBody="ngModel"
            [ngClass]="aBody.valid || aBody.pristine ? '': 'bg-danger'">
    </div>


    <div class="form-group">
      <label> Category: </label>
      <select appHighlight class="form-control" id="inputCategory" aria-describedby="categoryHelp" placeholder="Select category"
              [(ngModel)]="article.category" name="category">
        <option value="National">National</option>
        <option value="International">International</option>
        <option value="Sports">Sports</option>
        <option value="Economy">Economy</option>
      </select>
    </div>

    

    
    <input
    #imageInput
    type="file"
    accept="image/png, image/jpeg"
    (change)="fileChangeEvent($event)"
    hidden
    />


     @if (!isImageSaved) {
    <button type="button" class = "btn btn-publish" (click)="addImage()">Add image</button>
    }


    @if (imageError) {
    <p class="error">{{ imageError }}</p>
    }

    @if (isImageSaved) {
    <button type="button" class="btn btn-remove" (click)="removeImage()">Remove image</button>
    }

    <div>
        <button type="submit" class="btn btn-publish" [disabled]="articleForm.invalid" >Publish</button>
        <button type="button" class="btn btn-remove" (click)="clear()">Reset</button>
        <a routerLink="/list" class="btn btn-remove">Back to Main Page</a>
    </div>
    

    @if (articleForm.invalid) {
        <div><small class="text-muted">Please fill in the form correctly before publishing.</small></div>
    }
</form>



<div class="row" left style="margin-left: 100px;  margin-right: 100px">
    <div class="col-md-12 mb-3">
      <div class="card">
        <div class="card-body">
            <h5 class="card-title">{{ article.title }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ article.subtitle }}</h6>
            <div [innerHTML]="article.abstract" mb-2></div>
            @if (article.image_data) {
            <img class="img-fluid mb-3"
                [src]="'data:' + article.image_media_type + ';base64,' + article.image_data">
            }
            <div [innerHTML]="article.body" mb-2></div>
            <p class="fw-bold">{{ article.category }}</p>
        </div>
      </div>
    </div>
</div>

