
<!-- <button type="button" class="btn btn-add" style="margin-left: 100px;" (click)="clear()">Create new article (link to a form)</button> -->
<a routerLink="/edit/-1" class="btn btn-add" style="margin-left: 100px;">Create new article</a>


<!-- <h6>router-outlet</h6> -->
<router-outlet></router-outlet>


<!-- <li><input type="text" class="form-control mb-3" placeholder="Search articles" [(ngModel)]="term" [ngModelOptions]="{standalone: true}"></li> -->
<div class="container mt-5">
  <div class="row">
    <!-- @for (a of articles | textpipe : term() : ['title', 'abstract', 'subtitle', 'body']; track a.id) { -->
    @for (a of articles | textpipe : term() : ['thumbnail_image', 'thumbnail_media_type', 'image_data', 'image_media_type', 'id', 'id_user', 'update_date']; track a.id) {
      <div class="col-md-4 mb-4">
        <div class="card h-100 text-center">

          @if (a.thumbnail_image) {
            <a [routerLink]="['/detail', a.id]">
              <img class="card-img-top"
                   [src]="'data:' + a.thumbnail_media_type + ';base64,' + a.thumbnail_image">
            </a>
          }

          <div class="card-body">
            <h5 class="card-title">
              <a [routerLink]="['/detail', a.id]">{{ a.title }} </a>
              <a routerLink="/detail/a.id"> </a>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">{{ a.subtitle }}</h6>
            <p class="fw-bold">{{ a.category }}</p>
            <p class="card-text" [innerHTML]="trustHtml(a.abstract)"></p>
          </div>

          <div class="card-footer">
            <button class="btn btn-edit btn-sm me-1"
                    [routerLink]="['/edit', a.id]">Edit</button>
            <button class="btn btn-remove btn-sm" (click)="removeArticle(a)">Remove</button>
          </div>

        </div>
      </div>
    } @empty {
      <p>No articles in this category.</p>
    }
  </div>
</div>